.castcard{
    display:inline-block;
    width:10rem;
    overflow:hidden;
    font-size:1rem;
    font-family:fredokaone;
    background-color:whitesmoke;
    border-radius:1rem;
    margin:10px 5px;
}
.photo{
    width:100%;
    border-radius:inherit;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}
.castcard p{
    padding:3px;
    color:black;
    text-align:center;
}
.name{
    font-size:1em;
}
.character{
    font-size:0.6em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    white-space:nowrap;
    overflow-x:hidden;
    text-overflow:ellipsis;
}

@media(max-width:25cm){
    .castcard{
        width:15rem;
    }
    .name{
        font-size:1.5em;
    }
    .character{
        font-size:1rem;
    }
}