.filtermenu{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    position:absolute;
    margin:0 auto;left:0;right:0;
    top:109%;
    width:90%;
    height:fit-content;
    background-color:#171a13;
    border:2px solid #cc0000;   
    border-top:none;
    z-index:2;
    color:white;
    font-family:fredokaone;
    font-size:2rem;
}
.row0{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.ratingstars{
    display:flex;
}
.ratingstars img{
    max-width:1em;
    padding:0 1px;
}
.noratebtn{
    max-width:1em;
    margin:5px;
}

@media(max-width:25cm){
    .filtermenu{
        font-size:3rem;
    }
}

@media(any-hover){
    .ratingstars img:hover{
        cursor:pointer;
    }
    .noratebtn:hover{
        cursor:pointer;
        filter:brightness(0.6);
    }
}

@media(hover:none){
    .noratebtn:active{
        filter:brightness(0.1);
    }   
}