.searcher{
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:3px solid #cc0000;
    border-radius:10px;
    width:42%;
    height:3rem;
    min-height:30px;
}
.searcher input{
    width:80%;
    height:100%;
    border:none;
    border-radius:inherit;
    padding:0 0.25em;
    background-color:transparent;
    color:white;
    font-family:fredokaone;
    font-size:1.5em;
}
.searcher img{
    max-height:2.5em;
    margin-right:1%;
    transition:0.5s;
}

@media(max-width:15cm){
    .searcher{
        width:80%;
        height:30%;
    }
    .searcher input{
        font-size:2.5em;
    }
}
@media(any-hover){
    .searcher>img:hover{
        cursor:pointer;
        filter:grayscale(0.3);
        max-height:2em;
    }
}