.movielist{
    display:flex;
    flex-direction:column;
    height:fit-content; 
    text-align:center;
}
.row0{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    height:30px;
}
.row0 img{
    max-width:2rem;
}
.nomoviemsg{
    color:white;
    font-family:fredokaone;
    margin-top:10%;
    opacity:0.5;
}
.filterbtn{
    position:absolute;
    max-width:10rem;
}

@media(max-width:25cm){
    .nomoviemsg{
        font-size:4rem;
    }
}
@media(any-hover){
    .row0 img:hover{
        cursor:pointer;
        filter:brightness(0.8)
    }
}