.movielist{
    height:fit-content; 
    text-align:center;
}
.nomoviemsg{
    color:white;
    font-family:fredokaone;
    margin-top:10%;
    opacity:0.5;
}
.filterbtn{
    position:absolute;
    max-width:10rem;
}

@media(max-width:25cm){
    .nomoviemsg{
        font-size:4rem;
    }
}