.movielist{
    display:flex;
    flex-direction:column;
    height:fit-content; 
    text-align:center;
}
.row0{
    display:flex;
    justify-content:space-around;
    height:30px;
}
.nomoviemsg{
    color:white;
    font-family:fredokaone;
    margin-top:10%;
    opacity:0.5;
}
.filterbtn{
    position:absolute;
    max-width:10rem;
}

@media(max-width:25cm){
    .nomoviemsg{
        font-size:4rem;
    }
}