.header{
    background:linear-gradient(to right,#b8000f,#cc0000);/*d3003f*/
    height:100px;
    font-size:1rem;
    padding-bottom:1.5%;
}
.row0{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    background-color:#171a13;
    height:95%;
    padding-bottom:1%;
}
.row0 h1{
    font-family:fredokaone;
    color:white;
    font-size:4em;
    color:#cc0000;
}

.usericon{
    width:3vw;
    height:3vw;
    border-radius:50px; 
    background-color:#cc0000;
}

@media(max-width:15cm){
    .row0 h1{
        font-size:10em;
    }
    .row0{
        flex-direction:column;
    }
    .usericon{
        position:absolute;
        width:5rem;
        height:5rem;
        top:5px;
        right:5px;
    }
}
@media(any-hover){
    .usericon:hover{
        cursor:pointer;
        filter:grayscale(0.3);
    }
}